.pageheader {
	background-color: #f4f4f4;
}

.leadleft {
	background-color: #ff0000;
}
.leadright {
	background-color: #999999;
}
.firstbox {
	background-color: #666666;
}
.secondbox {
	background-color: #333333;
}
.thirdbox {
	background-color: #cfa339;
}
.fourthbox {
	background-color: #55148c;
}
.fifthbox {
	background-color: #376d6a;
}
.sixthbox {
	background-color: #000000;
}
.seventhbox {
	background-color: #008000;
}
.eigthbox {
	background-color: #ff66cc;
}
.ninthbox {
	background-color: #7b3f00;
}
.tenthbox {
	background-color: #FF5733;
}
.eleventhbox {
	background-color: #33A2FF;
}
.twelfthbox {
	background-color: #5E1769;
}
.thirteenthbox {
	background-color: #775F66;
}
.fourteenthbox {
	background-color: #93A496;
}